<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  
  <connectionStrings>
    
    <!--<add name="GGModelContainer" 
         
         connectionString="metadata=res://*/Models.GGModel.csdl|res://*/Models.GGModel.ssdl|res://*/Models.GGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BEAST\SQLEXPRESS;initial catalog=GG;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />-->
    <add name="GGModelContainer"
         
         connectionString="metadata=res://*/Models.GGModel.csdl|res://*/Models.GGModel.ssdl|res://*/Models.GGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:s08.winhost.com;initial catalog=DB_66141_finalwishes;Persist Security Info=True;User ID=DB_66141_finalwishes_user;Password=AbramIvan5;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />



  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
   
  </runtime>


  <system.web>
    <customErrors mode="Off"/>
    <trust level="Full" />
  </system.web>
  
<system.webServer>
  
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>


</configuration>


