<center>
    <img class="pointer" src="img/2b36ad_ed8059fb3f0f4d3d968b001be9af5d93.png" ng-click="appMode='mixer'" style="margin:10px" />
</center>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#" ng-click="appMode='about'">About</a></li>
                <li><a href="#" ng-click="appMode='app'">App</a></li>
                <li><a href="#" ng-click="appMode='calendar'">Calendar</a></li>
                <li><a href="#" ng-click="appMode='social'" >Social</a></li>
                <li><a href="https://www.etsy.com/shop/Sweetpeaandtulip" target="_blank">Shop</a></li>
                <li><a href="#" ng-click="appMode='contact'">Contact</a></li>

               
            </ul>
           
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>